@font-face {
	font-family: "Arkanoid";
	src: url(../assets/blockblueprint.medium.ttf);
}

@keyframes blink {
	10% {
		opacity: 50%;
	}
}

@keyframes shiningEffect {
	0% {
		opacity: 1;
		filter: blur(5px);
		margin-left: -20%;
	}

	100% {
		opacity: 1;
		filter: blur(5px);
		margin-left: 100%;
	}
}

* {
	font-family: Arkanoid;
}

html {
	height: 100%;
}

body {
	background: #353535;
	margin: 0;
	padding: 0;
	height: 100%;
}

#game-field {
	display: flex;
	align-items: center;
	border: solid red;
	position: absolute;
	background: url(../assets/background.png);
	background-size: 48px 32px;
}

#ball {
	position: absolute;
	background: radial-gradient(
		circle at 30% 30%,
		#ffffff,
		#4aa3ff 40%,
		#004080 100%
	);
	border-radius: 50%;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

#spatula {
	position: absolute;
	background: linear-gradient(#808080 0%, #e0e0e0 40%, #404040 100%);
	border-radius: 20px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
	z-index: 1;
}

#spatula div:first-child {
	display: inline-block;
	height: 100%;
	width: 15%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: solid 3px black;
	background: linear-gradient(#981838 0%, #d83060 40%, #400818 100%);
}

#spatula div:last-child {
	float: right;
	height: 100%;
	width: 15%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: solid 3px black;
	background: linear-gradient(#981838 0%, #d83060 40%, #400818 100%);
}

#game-over-msg {
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: red;
	-webkit-user-select: none;
	user-select: none;
	text-shadow: 0px 0px 20px black;
	z-index: 1;
}

#game-won-msg {
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: #00ff66;
	text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
	-webkit-user-select: none;
	user-select: none;
	z-index: 1;
}

button {
	cursor: pointer;
	margin: 0 auto;
	padding: 10px 20px;
	background: linear-gradient(#198eb5 0%, #95d9c3 40%, #198eb5 100%);
	color: white;
	border: 3px solid white;
	animation: blink 1s step-start infinite;
}

button:hover {
	transform: scale(1.1);
}

.block {
	box-sizing: border-box;
	position: absolute;
	border: solid;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

.yellow {
	background: #e0e010;
	border-color: #e0e010;
	border-bottom-color: #887808;
	border-right-color: #887808;
}

.white {
	background: #f8f8f8;
	border-color: #f8f8f8;
	border-bottom-color: #8888b8;
	border-right-color: #8888b8;
}

.pink {
	background: #e848b8;
	border-color: #e848b8;
	border-bottom-color: #a83068;
	border-right-color: #a83068;
}

.blue {
	background: #1878e8;
	border-color: #1878e8;
	border-bottom-color: #084888;
	border-right-color: #084888;
}

.red {
	background: #c81840;
	border-color: #c81840;
	border-bottom-color: #780828;
	border-right-color: #780828;
}

.green {
	background: #08e828;
	border-color: #08e828;
	border-bottom-color: #087818;
	border-right-color: #087818;
}

.lightblue {
	background: #08d8e8;
	border-color: #08d8e8;
	border-bottom-color: #086898;
	border-right-color: #086898;
}

.orange {
	background: #f08808;
	border-color: #f08808;
	border-bottom-color: #d05008;
	border-right-color: #d05008;
}

.silver {
	background: #c8c8e8;
	border-color: #c8c8e8;
	border-top-color: #8888b8;
	border-right-color: #484878;
	border-bottom-color: #686898;
}

.gold {
	background: #e0d008;
	border-color: #e0d008;
	border-top-color: #b09008;
	border-right-color: #605008;
	border-bottom-color: #807008;
}

#information-thingy {
	position: absolute;
	left: 5vw;
	color: white;
	font-size: 2vw;
}

#level-div {
	font-size: 5vw;
}

#lives * {
	vertical-align: bottom;
	line-height: 2vw;
	width: 2vw;
	height: 2vw;
}

#next-lvl-btn {
	font-size: 3vw;
}

.silver::after,
.gold::after {
	margin: -12.5% 0 -12.5% -12.5%;
	content: "";
	display: block;
	width: 10px;
	position: absolute;
	inset: 0;
	opacity: 0;
	background: rgba(255, 255, 255, 0.5);
	rotate: 20deg;
}

.silver.shine::after,
.gold.shine::after {
	animation: shiningEffect 0.2s linear 1;
}
