html {
	height: 100%;
}

body {
	background: black;
	margin: 0;
	padding: 0;
	height: 100%;
}

#game-field {
	display: flex;
	align-items: center;
	border: 2px solid red;
	position: absolute;
}

#ball {
	position: absolute;
	background: orange;
	border-radius: 50%;
}

#spatula {
	position: absolute;
	top: 90%;
	background: lightblue;
	border-radius: 20px;
}

#game-over-msg {
	font-family: sans-serif;
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: red;
	-webkit-user-select: none;
	user-select: none;
}

#game-won-msg {
	font-family: sans-serif;
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: green;
	-webkit-user-select: none;
	user-select: none;
}

#start {
	cursor: pointer;
	margin: 0 auto;
	padding: 10px 20px;
	background: #198eb5;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
	transition: all 0.2s;
}

#start:hover {
	transform: scale(1.1);
}

.block {
	position: absolute;
	background: green;
}
