@font-face {
	font-family: "Arkanoid";
	src: url(assets/blockblueprint.medium.ttf);
}

* {
	font-family: Arkanoid;
}

html {
	height: 100%;
}

body {
	background: #353535;
	margin: 0;
	padding: 0;
	height: 100%;
}

#game-field {
	display: flex;
	align-items: center;
	border: 2px solid red;
	position: absolute;
	background: url(assets/background.png);
	background-size: 48px 32px;
}

#ball {
	position: absolute;
	background: radial-gradient(
		circle at 30% 30%,
		#ffffff,
		#4aa3ff 40%,
		#004080 100%
	);
	border-radius: 50%;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

#spatula {
	position: absolute;
	top: 90%;
	background: linear-gradient(#808080 0%, #e0e0e0 40%, #404040 100%);
	border-radius: 20px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
	z-index: 1;
}

#spatula div:first-child {
	display: inline-block;
	height: 100%;
	width: 15%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: solid 3px black;
	background: linear-gradient(#981838 0%, #d83060 40%, #400818 100%);
}

#spatula div:last-child {
	float: right;
	height: 100%;
	width: 15%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: solid 3px black;
	background: linear-gradient(#981838 0%, #d83060 40%, #400818 100%);
}

#game-over-msg {
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: red;
	-webkit-user-select: none;
	user-select: none;
	text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

#game-won-msg {
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: #00ff66;
	text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
	-webkit-user-select: none;
	user-select: none;
}

#start {
	cursor: pointer;
	margin: 0 auto;
	padding: 10px 20px;
	background: #198eb5;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
	transition: all 0.2s;
}

#start:hover {
	transform: scale(1.1);
}

.block {
	box-sizing: border-box;
	position: absolute;
	border: solid;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

.yellow {
	background: #e0e010;
	border-color: #e0e010;
	border-bottom-color: #887808;
	border-right-color: #887808;
}

.white {
	background: #f8f8f8;
	border-color: #f8f8f8;
	border-bottom-color: #8888b8;
	border-right-color: #8888b8;
}

.pink {
	background: #e848b8;
	border-color: #e848b8;
	border-bottom-color: #a83068;
	border-right-color: #a83068;
}

.blue {
	background: #1878e8;
	border-color: #1878e8;
	border-bottom-color: #084888;
	border-right-color: #084888;
}

.red {
	background: #c81840;
	border-color: #c81840;
	border-bottom-color: #780828;
	border-right-color: #780828;
}

.green {
	background: #08e828;
	border-color: #08e828;
	border-bottom-color: #087818;
	border-right-color: #087818;
}

.lightblue {
	background: #08d8e8;
	border-color: #08d8e8;
	border-bottom-color: #086898;
	border-right-color: #086898;
}

.orange {
	background: #f08808;
	border-color: #f08808;
	border-bottom-color: #d05008;
	border-right-color: #d05008;
}

#score {
	position: absolute;
	left: 5vw;
	top: 5vw;
	font-size: 30px;
	color: white;
}

#lives {
	position: absolute;
	left: 5vw;
	top: 7vw;
	font-size: 30px;
	color: white;
}

#lives * {
	vertical-align: bottom;
	line-height: 32px;
}
