@font-face {
	font-family: "Arkanoid";
	src: url(blockblueprint.medium.ttf);
}

* {
	font-family: Arkanoid;
}

html {
	height: 100%;
}

body {
	background: black;
	margin: 0;
	padding: 0;
	height: 100%;
}

#game-field {
	display: flex;
	align-items: center;
	border: 2px solid red;
	position: absolute;
}

#ball {
	position: absolute;
	background: orange;
	border-radius: 50%;
}

#spatula {
	position: absolute;
	top: 90%;
	background: lightblue;
	border-radius: 20px;
}

#game-over-msg {
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: red;
	-webkit-user-select: none;
	user-select: none;
}

#game-won-msg {
	font-size: 13vw;
	width: 100%;
	text-align: center;
	line-height: 100%;
	color: green;
	-webkit-user-select: none;
	user-select: none;
}

#start {
	cursor: pointer;
	margin: 0 auto;
	padding: 10px 20px;
	background: #198eb5;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
	transition: all 0.2s;
}

#start:hover {
	transform: scale(1.1);
}

.block {
	box-sizing: border-box;
	position: absolute;
	border: solid;
}

.yellow {
	background: #e0e010;
	border-color: #e0e010;
	border-bottom-color: #887808;
	border-right-color: #887808;
}

.white {
	background: #f8f8f8;
	border-color: #f8f8f8;
	border-bottom-color: #8888b8;
	border-right-color: #8888b8;
}

.pink {
	background: #e848b8;
	border-color: #e848b8;
	border-bottom-color: #a83068;
	border-right-color: #a83068;
}

.blue {
	background: #1878e8;
	border-color: #1878e8;
	border-bottom-color: #084888;
	border-right-color: #084888;
}

.red {
	background: #c81840;
	border-color: #c81840;
	border-bottom-color: #780828;
	border-right-color: #780828;
}

.green {
	background: #08e828;
	border-color: #08e828;
	border-bottom-color: #087818;
	border-right-color: #087818;
}

.lightblue {
	background: #08d8e8;
	border-color: #08d8e8;
	border-bottom-color: #086898;
	border-right-color: #086898;
}

.orange {
	background: #f08808;
	border-color: #f08808;
	border-bottom-color: #d05008;
	border-right-color: #d05008;
}
